
body
{
  background-color: black;
  color: white;
}

.App {
  margin: auto;
  width: 50%;
}

.myForms
{
  width: 100%;
  background-color: #dfe6e9;
  border-radius: 5px;
  padding: 20px;
}

.formField
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border-radius: 5px;
  box-sizing: border-box;  
}

.myButton
{
  width: 100%;
  background-color: #379AE9;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.delBtn
{
  color: white;
  background-color:#f44336;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.editBtn
{
  color: white;
  background-color: #4CAF50;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

table
{
  width: 100%;
}

td
{
  font-size: 16px;
  border: dotted 1px white;
  padding: 10px;
  text-align: center;
}